button {
   padding: 12px;
   border: none;
   border-radius: 3px;
}
input {
   padding: 10px;
}
.App {
   width: 100%;
   padding: 20px 60px;
}
.todo {
   width: 100%;
}
.todo-item {
   padding: 25px 10px;
   border-bottom: 1px solid gray;
}

.delete-btn {
   background-color: red;
   color: white;
}

.add-btn {
   background-color: green;
   color: white;
}

.get-btn {
   background-color: blue;
   color: white;
}
